#city_selector {
	width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#city_selector:hover {
    background-color: #45a049;
}

#submit_btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
	text-align: center;
	height: 200px;
	width: 500px;
	margin: auto;
}

.weather {
    text-align: left;
}