<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/main.js"></script>
    </head>

    <title>Cookies!</title>
    <body>
        <table>
            <th>
                <tr>
                    <td>Name</td>
                    <td>Rating</td>
                </tr>
            </th>
            {% for cookie in cookies %}
            <tr>
                <td>{{ cookie.name }}</td>
                <td>{{ cookie.rating }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>