<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <title>My tech blog!</title>
    </head>
    <body>
        <h1>POST A BLOG ENTRY</h1>
        <div id="notification"></div>
        <form>
            <input type="text" id="blog_content" name="blog_content"/>
            <input id="add_post" type="submit" value="Post"/>
        </form>

    {% if posts %}
        <table id="post_content">
        {% for post in posts %}
            <tr id="blog_{{ post.id }}" class="blog_post">
                <td>{{ post.content }}</td>
                <td class="actions hidden">
                    <a class="edit"><img src="../static/images/pencil.png" alt="Edit" style="width:60px;height:60px;"></a>
                    <a class="delete"><img src="../static/images/trash.png" alt="Delete" style="width:60px;height:60px;"></a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="empty_blog">You have no blog posts yet!</div>
    {% endif %}
    </body>
</html>